<!DOCTYPE html>
<html>

<head>

<title>Auto Study</title>

<style>

body{
margin:0;
font-family:Arial;
}

.container{
display:flex;
height:100vh;
}

.study-window{
flex:3;
}

.timer{
flex:1;
background:#1e293b;
color:white;
padding:20px;
}

iframe{
width:100%;
height:100%;
border:none;
}

</style>

</head>

<body>

<div class="container">

<div class="study-window">

<button onclick="startStudy()">
Start Study
</button>

<button onclick="stopStudy()">
Stop Study
</button>

<br><br>

<a id="studyLink" href="{{ url }}" target="_blank">
Open Study Resource
</a>

</div>

<div class="timer">

<h2>Study Timer</h2>

<h1 id="time">00:00:00</h1>

<button onclick="start()">Start</button>
<button onclick="stop()">Stop</button>

</div>

</div>

<script>

let seconds = 0
let interval

function startStudy(){

interval = setInterval(function(){

seconds++

let hrs = Math.floor(seconds / 3600)
let mins = Math.floor((seconds % 3600)/60)
let secs = seconds % 60

document.getElementById("time").innerText =
hrs + ":" + mins + ":" + secs

},1000)

}

function stopStudy(){

clearInterval(interval)

alert("Study session saved (next step: DB save)")

}

</script>


</body>

</html>