<!DOCTYPE html>
<html>
<head>

<title>Pomodoro Timer</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/admin_dashboard.css') }}">

</head>

<body>

<div class="container">

<div class="sidebar">

<h2>Skill Tracker</h2>

<a href="{{ url_for('main.user_dashboard') }}">Dashboard</a>
<a href="{{ url_for('main.manage_skills') }}">Manage Skills</a>
<a href="{{ url_for('main.pomodoro') }}">Pomodoro</a>

</div>

<div class="main">
<div class="focus-stats">

<h3 id="todaySessions">Today's Sessions: 0</h3>
<h3 id="todayHours">Today's Focus: 0 hrs</h3>

<p id="motivationText">
Stay focused. You're building your future.
</p>

</div>
<h2>Focus Timer</h2>
<button id="focusModeBtn">Enter Focus Mode</button>
<select id="skillSelect">

{% for us in user_skills %}

<option value="{{ us.skill_id }}">
{{ us.skill.skill_name }}
</option>

{% endfor %}

</select>

<div class="timer">

<h1 id="timer">25:00</h1>

</div>
<button id="exitFocusBtn" style="display:none;">Exit Focus Mode</button>
<div class="buttons">

<button id="start">Start</button>
<button id="pause">Pause</button>
<button id="stop">Stop & Save</button>

</div>

<br>

<a href="{{ url_for('main.user_dashboard') }}">
<button>Back</button>
</a>

</div>

</div>

<script src="{{ url_for('static', filename='js/pomodoro.js') }}"></script>

</body>
</html>