<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup - Skill Analytics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
</head>
<body>
   
    
    

<div class="container">

    <div class="left-panel">
        <h1>Join Us</h1>
        <p>Create your account and start tracking your skills.</p>
    </div>

    <div class="right-panel">

        <h2>Create Account</h2>

        <form action="/signup" method="post">
            <input type="text" placeholder="Full Name" name="name">
            <input type="email" placeholder="Email" name="email">
            <input type="password" placeholder="Password" name="password">
            <button type="submit">Signup</button>
        </form>

        <p class="register">
            Already have account?
            <a href="/">Login</a>
        </p>

    </div>
</div>


</body>
</html>